Click==7.0
Flask==1.1.1
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
Werkzeug==1.0.0
requests==2.23.0
bs4==0.0.1
beautifulsoup4==4.8.2
urllib3==1.26.5
pandas==1.0.3
apscheduler==2.1.2